Data can be found: https://data-seattlecitygis.opendata.arcgis.com/search?collection=Dataset&modified=2021-01-01%2C2021-10-13

In [1]:
import geopandas as gpd

In [2]:
gpd.datasets.available

['naturalearth_cities', 'naturalearth_lowres', 'nybb']

In [9]:
world = gpd.read_file(
    gpd.datasets.get_path('naturalearth_lowres')
)

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [5]:
seattle_zoning_2035 = gpd.read_file('Future_Land_Use__2035.shp')
seattle_zoning_2035.head()

,OBJECTID,FLUM,ORDINANCE,ADOPTED,geometry
0,1,Cemetery,125173,2016-10-17,"MULTIPOLYGON (((-122.33419 47.70871, -122.3343..."
1,2,Hub Urban Village,125173,2016-10-17,"MULTIPOLYGON (((-122.30786 47.58930, -122.3074..."
2,3,Industrial Areas,125173,2016-10-17,"MULTIPOLYGON (((-122.33389 47.64684, -122.3339..."
3,4,Major Institutions,125173,2016-10-17,"MULTIPOLYGON (((-122.28757 47.65796, -122.2875..."
4,5,Manufacturing Industrial Center,125173,2016-10-17,"MULTIPOLYGON (((-122.30779 47.53173, -122.3084..."

In [8]:
education_centers = gpd.read_file('data/Environmental_Education_Centers.shp')
education_centers

,OBJECTID,ID,NAME,ADDRESS,COORDINATO,PHONE,SITE,SE_ANNO_CA,PMAID,LINK_1,LINK_2,ALT_NAME,DESC_,LOCATIONID,POINT_X,POINT_Y,GIS_EDT_DT,LATITUDE,LONGITUDE,geometry
0,1,8,Alki Beach,None,None,None,Program,None,445,None,None,None,None,None,1.251391e+06,215449.453181,None,47.579722,-122.409649,POINT (-122.40965 47.57972)
1,2,9,Ravenna Park,None,None,None,Program,None,391,None,None,None,None,None,1.277906e+06,248278.375094,None,47.671144,-122.304779,POINT (-122.30478 47.67114)
2,3,10,Golden Gardens Park,None,None,None,Program,None,243,None,None,None,None,None,1.253622e+06,256275.859379,None,47.691749,-122.403985,POINT (-122.40398 47.69175)
3,4,5,Seward Park,5500 Lake Washington Blvd S,None,None,Main,None,428,None,None,None,None,None,1.289013e+06,203732.828098,None,47.549617,-122.256361,POINT (-122.25636 47.54962)
4,5,6,Woodland Park Zoo,700 North 50th St,None,None,Special,None,200,None,None,None,None,None,1.266625e+06,246687.593775,None,47.666183,-122.350430,POINT (-122.35043 47.66618)
5,6,7,Lakeridge Park,None,None,None,Program,None,411,None,None,None,None,None,1.291226e+06,189454.437428,None,47.510591,-122.246341,POINT (-122.24634 47.51059)
6,7,3,Camp Long,5200 35th SW,Robert Wilkins,684-7434,Main,None,4154,None,None,None,None,None,1.259746e+06,206483.890647,None,47.555612,-122.375075,POINT (-122.37507 47.55561)
7,8,4,Seattle Aquarium,1483 Alaskan Way,None,None,Special,None,335,None,None,None,None,None,1.268076e+06,225216.765579,None,47.607411,-122.342836,POINT (-122.34284 47.60741)
8,9,1,Discovery Park,3801 W Government Way,Linda Versage,386-4236,Main,None,310,None,None,None,None,None,1.252966e+06,243981.750029,None,47.658015,-122.405630,POINT (-122.40563 47.65801)
9,10,2,Carkeek Park,950 NW Carkeek Park Road,Brad Carlquist,684-0877,Main,None,240,None,None,None,None,None,1.262463e+06,263314.218749,None,47.711529,-122.368666,POINT (-122.36886 47.71176)